@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto Slab', serif; */
$f1: 'Dancing Script', cursive;
$f2: 'Roboto Slab', serif;
$c1: black;
$c2: white;
$c3: blue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $f2;
}

header{
        .navbar{
            background-color: $c1;
        }
        .nav-link{
            font-size: 20px;
            color: $c2 !important;
        }
        .nav-link:hover{
            color:$c3 !important;
        }
}

main{
    height: calc(100vh - 62px - 90px);
    width: 100%;
    background-image: url(../Imagenes/technology-7111804_1280.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .imagenPersonal{
        background-color: $c2;
        height: 350px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    .presentacion{
        height: 350px;
        width: 400px;
        padding: 20px;
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.932);
        display: flex;
        justify-content:space-evenly;
        flex-flow: column;
        align-items:center;
        margin-bottom: 50px;
    }

    @media (max-width: 768px) {
        .imagenPersonal,
        .presentacion {
            height: 280px;
            width: 280px;
            font-size: 0.8em;
        }
        p{
            font-size: 1em;
        }
    }
    
    @media (max-width: 576px) {
        .imagenPersonal,
        .presentacion{
            height: 235px;
            width: 235px;
            font-size: 0.5em;
        }
        p{
            font-size: 1.3em;
        }
    }    
}
footer{
    background-color: black;
    height: 90px;
    width: 100%;
    padding: 0px 10px;
    font-size: 25px;
    p{
        color: $c2;
        word-spacing: 25px;
        text-align: center;
        margin-bottom: 15px;
    }
    .redes{
        text-align: center;
        word-spacing: 40px;
        padding-bottom: 7px;
        a{
            text-decoration: none;
            color: $c2;
            transition: font-size 0.3s ease;
        }
        a:hover{
            color: $c3;
            font-size: 30px;
        }
    }
}

@import "_contacto";